---
extends: default

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
  colons: disable
  comments: disable
  new-line-at-end-of-file: enable

ignore: |
  venv/
