q# {{ ansible_managed }}
unqualified-search-registries = {{ registries | json_query('[].prefix')  | list | to_json }}
short-name-mode = {{ registries_short_name_mode }}
{% for registry in registries %}
[[registry]]
    prefix = "{{ registry.prefix }}"
    insecure = {{ 'true' if registry.insecure | default(False) else 'false'  }}
    blocked = {{ 'true' if registry.blocked | default(False) else 'false' }}
    location = "{{ registry.location | default(registry.prefix) }}"
{% if 'mirror' in registry %}{% for mirror in registry.mirror %}
[[registry.mirror]]
    location = "{{ mirror.location }}"
    insecure = {{ 'true' if mirror.insecure | default(False) else 'false' }}
    blocked = {{ 'true' if mirror.blocked | default(False) else 'false' }}
{% endfor %}{% endif %}
{% endfor %}
